---
import { fade } from 'astro:transitions';
import type { InferGetStaticParamsType } from "astro";
import { getCollection, getEntry } from 'astro:content';
import Layout from "../../layouts/Layout.astro";
import { RouteMap } from "../../components/RouteMap/RouteMap";

export async function getStaticPaths() {
  const allRoutes = await getCollection('routes');

  return allRoutes.map((route) => {
    return {
      params: {
        route: route.slug
      }
    }
  });
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;

const { route } = Astro.params as Params;

const routeData = await getEntry('routes', route);
const geojson = await getEntry(routeData.data.geojson)
---

<Layout title="Tricity hiking - Hike">
  <div class="max-w-screen-xl mx-auto">
    <h2 class="py-4 px-2">{ routeData.data.title }</h2>
  </div>

  <div class="max-w-screen-xl mx-auto relative h-[50vh] px-2 lg:px-0" transition:name="map">
    <RouteMap client:only="preact" route={geojson.data} />
  </div>
</Layout>

<style is:global>
  .maplibregl-map {
    height: 100%;
    width: 100%;
  }
</style>
