---
import Layout from "../layouts/Layout.astro";
import ActivityList from "../components/ui/ActivitiesList/ActivityList.astro";
import { getCollection } from "astro:content";

const activities = await getCollection("activities");
---

<Layout title="Outdoor activities in Gdańsk, Sopot, and Gdynia">
  <div
    class="max-w-(--breakpoint-xl) mx-auto relative px-2 lg:px-0"
    transition:name="map"
  >
    <ActivityList activities={activities} groupBy="type" />
  </div>
</Layout>
