---
import { getCollection, getEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Homepage from "../components/Homepage.astro";
import { merge } from "../services/merge";
import { enhance } from "../services/enhance";

import mapImage from "../assets/home-map.jpg";
import { HomeMap } from "../components/HomeMap/HomeMap";

const allRoutes = await getCollection("routes");
const routes = allRoutes.filter((route) => {
  return !route.data.draft;
});

const geojsonList = [];

for (const route of routes) {
  const geojson = await getEntry(route.data.geojson);
  const enhancedGeojson = enhance({
    collection: geojson.data,
    route: route.data,
  });
  geojsonList.push(enhancedGeojson);
}

const geojson = merge(geojsonList);
---

<Layout
  title="Map of the best hiking trails in Gdańsk, Sopot, Gdynia and nearby"
>
  <Homepage>
    <div
      class="max-w-(--breakpoint-xl) mx-auto relative h-[70vh] px-2 lg:px-0"
      transition:name="map"
    >
      <div class="absolute inset-0 h-full overflow-hidden">
        <img src={mapImage.src} class="absolute blur-2xl inset-0 h-full" />
      </div>

      <HomeMap client:only="preact" routes={geojson} />
    </div>
  </Homepage>
</Layout>

<style is:global>
  .maplibregl-map {
    height: 100%;
    width: 100%;
  }
</style>
