---
import Layout from '../layouts/Layout.astro';
import ListItem from '../components/ListItem.astro';
---

<Layout title="Tricity hiking - Food">
    <div class="max-w-screen-xl mx-auto relative h-[80vh] px-2 lg:px-0" transition:name="map">
      <div class="my-4">
        <h2 class="text-2xl mb-3">Breakfast</h2>
        <p class="my-2">

        </p>

        <ul>
          <ListItem
            name="Avocado"
            description=""
            link="https://avocadovegan.pl/"
          />
          <ListItem
            name="Marmolada Chleb i Kawa"
            description=""
            link="https://marmoladachlebikawa.pl/"
          />
          <ListItem
            name="Pomelo"
            description=""
            link="https://www.pomelogdansk.pl/"
          />
        </ul>
      </div>
      <div class="my-4">
        <h2 class="text-2xl mb-3">Lunch/Dinner</h2>
        <p class="my-2">

        </p>

        <ul>
          <ListItem
            name="Pasta miasta"
            description=""
            link="https://www.pastamiasta.pl/"
          />
          <ListItem
            name="Hellas Gyradiko"
            description=""
            link="https://hellasgyradiko.eatbu.com/?lang=pl"
          />
          <ListItem
            name="Sumo Ramen"
            description=""
            link="https://www.facebook.com/p/SUMO-RAMEN-100027868855912/?locale=pl_PL"
          />
          <ListItem
            name="A Modo Mio"
            description=""
            link="https://www.facebook.com/p/A-Modo-Mio-da-Ciro-100069903701638/"
          />
          <ListItem
            name="Pak Choi"
            description=""
            link="http://www.restauracjapakchoi.pl/"
          />
          <ListItem
            name="Phuket - Thai Food & Bar"
            description=""
            link="https://www.facebook.com/phuketsopot/"
          />
          <ListItem
            name="la nostra pizzeria"
            description=""
            link="https://www.facebook.com/Sopotlanostrapizzeria/"
          />
        </ul>
      </div>
      <div class="my-4">
        <h2 class="text-2xl mb-3">Caffe</h2>
        <p class="my-2">

        </p>

        <ul>
          <ListItem
            name="Flaming & Co"
            description=""
            link="https://flaming-co.com/"
          />
          <ListItem
            name="Santa Cafe"
            description=""
            link="https://www.facebook.com/santacafe2020/"
          />
          <ListItem
            name="KAISER Patisserie"
            description="Sopot"
            link="https://kaiserpatisserie.pl/sopot/"
          />
        </ul>
      </div>
    </div>
</Layout>


