---
import Layout from '../layouts/Layout.astro';

import { getCollection, getEntry } from 'astro:content';

const routes = await getCollection('routes');

const route = routes[0]

const geojson = await getEntry(route.data.geojson)
---

<Layout title="Tricity hiking">
	<main>
    <div id="map" data-routes={JSON.stringify(geojson.data)} />
	</main>
</Layout>

<style>
  #map {
    height: 100vh;
    width: 100%;
  }
</style>

<script src="../scripts/map-embed.js"></script>
