---
import Layout from '../layouts/Layout.astro';
import { merge } from '../geodata/merge'
import { getCollection, getEntry } from 'astro:content';

const routes = await getCollection('routes');

const geojsonList = []

for (const route of routes) {
  const geojson = await getEntry(route.data.geojson)
  geojsonList.push(geojson.data)
}

const geojson = merge(geojsonList)
---

<Layout title="Tricity hiking">
	<main>
    <div id="map" data-routes={JSON.stringify(geojson)} />
	</main>
</Layout>

<style>
  #map {
    height: 100vh;
    width: 100%;
  }
</style>

<script src="../scripts/map-embed.js"></script>
