---
import { getCollection, getEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import { mToKm } from "../services/mToKm";
import { formatTime } from "../services/formatTime";
import { enhance } from "../services/enhance";
import { TrailAttributeValue } from "../components/TrailAttributeValue/TrailAttributeValue";
import { TrailAttributeName } from "../components/TrailAttributeName/TrailAttributeName";
import TrailAttribute from "../components/TrailAttribute.astro";
import ListCardItem from "../components/ListCardItem.astro";
import { Icon } from "astro-icon/components";
import { getLineStringFeature } from "../services/getLineStringFeature";
import RouteListItem from "../components/ListCardItem/Route.astro";

const routes = await getCollection("routes");
const tricityRoutes = routes.filter((route) => route.data.tricity).slice(0, 3);

const geojsonList = [];

for (const route of tricityRoutes) {
  const geojson = await getEntry(route.data.geojson);
  const enhancedGeojson = enhance({
    collection: geojson.data,
    route: route.data,
  });
  geojsonList.push({
    route,
    properties:
      getLineStringFeature({ collection: enhancedGeojson })?.properties ?? {},
  });
}
---

<Layout title="Tricity hiking">
  <Hero title="Gdańsk, Sopot, Gdynia" slot="hero" />

  <div class="max-w-(--breakpoint-xl) mx-auto py-4">
    <h2 class="text-2xl my-2">Tricity</h2>

    <div class="max-w-lg">
      Tricity is a metropolitan area consisting of three cities in Pomerania,
      Poland: Gdańsk, Gdynia, and Sopot. The area is a popular tourist
      destination, and it is known for its beaches, parks, and historical sites.
      One of the best ways to explore the area is by hiking, and there are many
      beautiful trails to choose from.
    </div>
  </div>

  <div class="max-w-(--breakpoint-xl) mx-auto relative px-2 lg:px-0 my-8">
    <h2 class="text-2xl">Routes</h2>

    <ul>
      {
        geojsonList.map(({ route, properties }) => (
          <RouteListItem route={route} properties={properties} />
        ))
      }
    </ul>

    <a class="simple-link" href="/routes">See All Routes</a>
  </div>
</Layout>

<style is:global>
  .maplibregl-map {
    height: 100%;
    width: 100%;
  }
</style>
