---
import Layout from '../layouts/Layout.astro';
import { merge } from '../geodata/merge'
import { getCollection, getEntry } from 'astro:content';

const routes = await getCollection('routes');

const geojsonList = []

for (const route of routes) {
  const geojson = await getEntry(route.data.geojson)
  geojsonList.push(geojson.data)
}

const geojson = merge(geojsonList)
---

<Layout title="Tricity hiking">
	<main>
    <h1 class="py-4 px-2">Tricity hiking</h1>

    <div class="max-w-screen-xl mx-auto">
      <div id="map" data-routes={JSON.stringify(geojson)}>
        <div id="sidebar" class="invisible flex-center left-0 w-52 h-full z-10 bg-slate-100">
          <div class="sidebar-content rounded-rect flex-center">
              
          </div>
      </div>
      </div>
    </div>

	</main>
</Layout>

<style>
  #map {
    height: 70vh;
    width: 100%;
  }

  .flex-center {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>

<script src="../scripts/map-embed.js"></script>
