---
import { getCollection, getEntry } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import Homepage from '../components/Homepage.astro';
import { merge } from '../geodata/merge'
import { enhance } from '../geodata/enhance'

const routes = await getCollection('routes');

const geojsonList = []

for (const route of routes) {
  const geojson = await getEntry(route.data.geojson)
  const enhancedGeojson = enhance({ collection: geojson.data, route: route.data })
  geojsonList.push(enhancedGeojson)
}

const geojson = merge(geojsonList)
---

<Layout title="Tricity hiking">
  <Homepage>
    <div class="max-w-screen-xl mx-auto relative h-[80vh] px-2 lg:px-0" transition:name="map">
      <ul>
        {routes.map(route => (
          <li>
            <a href={`/tricity-hiking/routes/${route.data.geojson.id}`}>{route.data.title}</a>
          </li>

        ))}
      </ul>
    </div>
  </Homepage>
</Layout>


