---
import { getCollection, getEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Homepage from "../components/Homepage.astro";
import { enhance } from "../services/enhance";
import { getLineStringFeature } from "../services/getLineStringFeature";
import RouteListItem from "../components/ListCardItem/Route.astro";

const allRoutes = await getCollection("routes");
const routes = allRoutes.filter((route) => {
  return !route.data.draft;
});

const nearbyRoutes = routes.filter((route) => !route.data.tricity);

const geojsonList = [];

for (const route of nearbyRoutes) {
  const geojson = await getEntry(route.data.geojson);
  const enhancedGeojson = enhance({
    collection: geojson.data,
    route: route.data,
  });
  geojsonList.push({
    route,
    properties:
      getLineStringFeature({ collection: enhancedGeojson })?.properties ?? {},
  });
}
---

<Layout title="Tricity hiking - list of routes nearby Tricity">
  <Homepage>
    <div class="max-w-(--breakpoint-xl) mx-auto relative px-2 lg:px-0">
      <ul>
        {
          geojsonList.map(({ route, properties }) => (
            <RouteListItem route={route} properties={properties} />
          ))
        }
      </ul>
    </div>
  </Homepage>
</Layout>
