---
import { getCollection, getEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Homepage from "../components/Homepage.astro";
import { merge } from "../services/merge";
import { enhance } from "../services/enhance";
import RouteMapLegend from "../components/RouteMapLegend.astro";

import mapImage from "../assets/home-map.jpg";
import { HomeMap } from "../components/HomeMap/HomeMap";

const allRoutes = await getCollection("routes");
const routes = allRoutes.filter((route) => {
  return !route.data.draft;
});
const tricityRoutes = routes.filter((route) => route.data.tricity);

const geojsonList = [];

for (const route of tricityRoutes) {
  const geojson = await getEntry(route.data.geojson);
  const enhancedGeojson = enhance({
    collection: geojson.data,
    route: route.data,
  });
  geojsonList.push(enhancedGeojson);
}

const geojson = merge(geojsonList);
---

<Layout title="Tricity hiking">
  <Homepage>
    <div
      class="max-w-(--breakpoint-xl) mx-auto relative h-[70vh] px-2 lg:px-0"
      transition:name="map"
    >
      <div class="absolute inset-0 h-full overflow-hidden">
        <img src={mapImage.src} class="absolute blur-2xl inset-0 h-full" />
      </div>

      <HomeMap client:only="preact" routes={geojson} />
    </div>

    <RouteMapLegend />

    <div class="max-w-(--breakpoint-xl) mx-auto px-2 lg:px-0 py-4">
      <a
        class="px-4 py-2 rounded-md border border-solid bg-green-50 hover:bg-green-200 text-slate-900 border-green-300 inline-block"
        href="/extended/"
      >
        Map (extended)
      </a>
    </div>
  </Homepage>
</Layout>

<style is:global>
  .maplibregl-map {
    height: 100%;
    width: 100%;
  }
</style>
