---
import Layout from "../layouts/Layout.astro";
import ListItem from "../components/ListItem.astro";
---

<Layout title="Tricity hiking - Transportation">
  <div class="my-4">
    <h2 class="text-2xl mb-3">Applications</h2>
    <p class="my-2"></p>

    <ul>
      <ListItem name="Jak dojadę" description="" link="https://jakdojade.pl/" />
    </ul>
  </div>
</Layout>
