---
import { Icon } from "astro-icon/components";
import ListCardItem from "../ListCardItem.astro";

const { link, icon, name, location } = Astro.props;
---

<ListCardItem bordered link={link}>
  <div
    slot="image"
    class="bg-green-200 w-16 h-16 shrink-0 flex items-center justify-center group-hover:bg-black group-hover:text-green-200"
  >
    <Icon name={icon} class="w-12 h-12" />
  </div>

  <span class="group-hover:text-green-600" slot="title">
    {name}
  </span>

  <div slot="description">
    {location}
  </div>
</ListCardItem>
