---
import Tab from './Tab.astro'
---
<div class="max-w-screen-xl mx-auto py-4">
  Tricity is a metropolitan area consisting of three cities in Pomerania, Poland: Gdańsk, Gdynia, and Sopot.
  The area is a popular tourist destination, and it is known for its beaches, parks, and historical sites.
  One of the best ways to explore the area is by hiking, and there are many beautiful trails to choose from.
  Whether you are looking for a leisurely walk or a challenging hike,
  you will find something to suit your needs in Tricity.
</div>

<div class="max-w-screen-xl mx-auto py-4">
  <ul
    class="flex border-b border-gray-200 space-x-3 transition-all duration-300 -mb-px"
    role="tablist">
    <li role="presentation">
      <Tab href="/tricity-hiking">Map</Tab>
    </li>
    <li role="presentation">
      <Tab href="/tricity-hiking/surrounding">Map (surrounding)</Tab>
    </li>
    <li role="presentation">
      <Tab href="/tricity-hiking/list">List</Tab>
    </li>
  </ul>
</div>
<slot />
