<div class="max-w-(--breakpoint-xl) mx-auto py-4">
  <nav class="flex gap-4">
    <a
      class="px-4 py-2 bg-green-500 text-white rounded-xl hover:bg-green-600"
      href="/routes/"
    >
      Map
    </a>
    <a
      class="px-4 py-2 bg-green-500 text-white rounded-xl hover:bg-green-600"
      href="/extended/"
    >
      Map (extended)
    </a>
    <a
      class="px-4 py-2 bg-green-500 text-white rounded-xl hover:bg-green-600"
      href="/list/"
    >
      List
    </a>
  </nav>
</div>

<slot />
