---
const { name, description, link, tag } = Astro.props
---
<li class="list-disc list-inside"><a class="text-green-500" href={link}>{name}</a><span class="text-gray-500"> - {description}</span></li>
