---
const { href } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
const isActive = pathname === href || pathname === `${href}/`;
---

<a href={href} class:list={[
  "inline-block px-4 py-2 text-lg font-normal text-gray-800 no-underline border-b-2 border-solid",
  {
    "border-green-300": isActive,
    "border-transparent": !isActive
  },
  ]}>
  <slot />
</a>
