---
const { href, matches, nested } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
const directMatch = pathname === href || pathname === `${href}/`;
const isActive = matches ? matches(pathname) : directMatch;
---

<a href={href} class:list={[
  "px-4 py-3 flex items-center space-x-4 text-gray-800 group",
  {
    "bg-slate-200": isActive,
    "pl-10": nested
  },
  ]}>
  <div class="flex gap-2 items-center">
    <slot name="icon" /> <slot />
  </div>
</a>
