---
const { href, matches } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
const directMatch = pathname === href || pathname === `${href}/`;
const isActive = matches ? matches(pathname) : directMatch;
---

<a href={href} class:list={[
  "px-4 py-3 flex items-center space-x-4 text-gray-800 group border border-solid border-l-4",
  {
    "border-transparent": !isActive,
    "border-green-300": isActive,
  },
  ]}>
  <div class="flex gap-2 items-center">
    <slot name="icon" /> <slot />
  </div>
</a>
