---
import "../styles/base.css";
import { ViewTransitions } from "astro:transitions";
import { Icon } from "astro-icon/components";

import SidebarSwitch from "../components/SidebarSwitch/SidebarSwitch.tsx";
import SidebarLink from "../components/SidebarLink.astro";
import Analytics from "../components/Analytics.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>

    <link rel="sitemap" href="/sitemap-index.xml" />

    {import.meta.env.PIWIK_TRACKING_ENABLED !== "false" && <Analytics />}

    <ViewTransitions />
  </head>
  <body>
    <main>
      <nav
        class="flex relative justify-center lg:justify-start bg-slate-50 py-2 sm:py-4"
      >
        <SidebarSwitch className="lg:hidden absolute left-4 top-4" client:load>
          <Icon name="mdi:menu" class="text-3xl" />
        </SidebarSwitch>

        <a href="/">
          <h1 class="py-2 px-4 text-xl text-slate-500">Tricity Hiking</h1>
        </a>

        <div id="sidebar" class="sidebar bg-slate-50">
          <div
            class="flex gap-2 items-center flex-col lg:flex-row h-full pt-4 lg:pt-0"
          >
            <a href="/routes" class="px-4 py-2 text-slate-500 w-full lg:w-auto"
              >Routes</a
            >
            <a
              href="/activities"
              class="px-4 py-2 text-slate-500 w-full lg:w-auto">Activities</a
            >
            <a href="/food" class="px-4 py-2 text-slate-500 w-full lg:w-auto"
              >Food</a
            >
            <a
              href="/transportation"
              class="px-4 py-2 text-slate-500 w-full lg:w-auto"
            >
              Transportation
            </a>
          </div>
        </div>
      </nav>

      <div class="">
        <slot name="hero" />
        <div class="p-4">
          <slot />
        </div>
      </div>
    </main>
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: "Fira Sans", sans-serif;
    background: #f8fafc;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
