---
import { Icon } from "astro-icon/components";
import Tabs from "./Tabs/Tabs.astro";
import Tab from "./Tabs/Tab.astro";
const pathname = new URL(Astro.request.url).pathname;
---

<div class="max-w-(--breakpoint-xl) mx-auto py-4">
  <nav class="relative">
    <Tabs>
      <Tab
        active={pathname.startsWith("/routes/") ||
          pathname.startsWith("/extended")}
        href="/routes/"
      >
        <Icon name="mdi:map" class="w-4 h-4" />
        Map
      </Tab>

      <Tab active={pathname.startsWith("/list/")} href="/list/">
        <Icon name="mdi:view-list" class="w-4 h-4" />
        Tricity
      </Tab>

      <Tab active={pathname.startsWith("/nearby/")} href="/nearby/">
        <Icon name="mdi:view-list" class="w-4 h-4" />
        Nearby
      </Tab>
    </Tabs>
  </nav>
</div>

<slot />
