---
const { id, href, matches } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
const defaultMatch = pathname.startsWith(href);
const isActive = matches ? matches(pathname) : defaultMatch;
---

<a
  id={id}
  href={href}
  class:list={[
    "px-4 py-2 w-full lg:w-auto relative lg:rounded-xl",
    {
      "underline decoration-green-400 hover:decoration-green-600": isActive,
      "text-slate-600 hover:underline": !isActive,
    },
  ]}
>
  <slot />
</a>
