---
const { href, active } = Astro.props;
---

<a
  class:list={[
    "px-6 sm:px-12 py-2 sm:py-3 text-sm font-medium inline-flex items-center gap-2 relative border-t-2 border-l last:border-r border-l-gray-300 last:border-r-gray-300 whitespace-nowrap snap-start",
    {
      "text-green-600 border-t-green-600": active,
      "text-gray-900 bg-zinc-100 border-t-transparent": !active,
    },
  ]}
  href={href}
  data-active={active ? "true" : undefined}
>
  <slot />
</a>
